<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FM</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap/css/font.bootstrap-icons.min.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>
<body>
    <!-- <button class="bi bi-folder" id="home">HOME</button> -->
    <ul id="filemanager" style="border-top: solid 1px black;margin-top: 1rem;">

    </ul>
<!-- <div class="bi bi-arrow-return-left"></div>
<li class="bi bi-folder" style="list-style: none;" id="getlink1">GET JSON FOLDER</li>
<li class="bi bi-folder" style="list-style: none;" id="getlink2">GET PARAMS FOLDER</li>
<li class="bi bi-folder" style="list-style: none;" id="postlink1">POST JSON FOLDER</li> -->
<!-- <li class="bi bi-folder" style="list-style: none;" id="postlink2">POST PARAMS FOLDER</li> -->
</body>
<script defer src="css/bootstrap/js/bootstrap.min.js"></script>
<script defer src="js/jquery.min.js"></script>
<script defer src="js/app.js"></script>
<!-- <script defer src="js/app.min.js"></script> -->
</html>
