@import url('bootstrap/css/font/bootstrap-icons.min.css');

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li,
a {
    color: #00B7FF;
}

li {
    cursor: default;
}

li.bi.bi-folder::before {
    content: \uF3D7;
}